/* //--                                head                                   */
.m_text_head_2 span {
        color: #000000;
        /* font-size: 32px; */
        letter-spacing: -0.06em;
}

.m_text_head_3 span {
        color: #000000;
        font-weight: 300;
        /* font-size: 20px; */
        /* letter-spacing: -0.01em; */
        /* display: inline-block; */
        /* transform: translateY(2px); */
}

.m_text_head_4 span {
            
        color: #5e5e5e;
        /* font-weight: bold; */
        /* letter-spacing: -0.07em; */

}

/* /////////////////////////////////////////////////////////////////////////////////// */               

/* //--                               body                                */
.m_text_body_1 span {
            
        color: #000000;
        /* font-weight: bold; */
        letter-spacing: -0.04em;
}

.m_text_body_2 span {
        color: #000000;
        letter-spacing: -0.04em;
}

.m_text_body_3 span {
        color: #444444;
        letter-spacing: -0.03em;
}

/* //--                          only spacing                             */

.m_text_only_spacing span {
        letter-spacing: -0.03em;

}

.m_text_only_spacing_eng span {
        letter-spacing: -0.02em;
}

